.fullpage {
    /* background-color: white; */
    width: 100vw;
    height: fit-content;
}

.ContentAd_container {
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: orangered; */
}

.ContentAd {
    /* width:  calc(100vw - 170px); */
    width: 90vw;
    margin-top: 5.71428571rem;
    margin-bottom: 5vw;
    /* height: 4.762vw; */
    height: calc(90vw / 16 * 9 - 5.71428571rem * 2 + 38.5px);
    /* height: 82.0945945945946vh; */
    /* border: black 2px solid; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/TestImg.png);  
    background-size: cover;
    background-size: cover;
    background-position: bottom;
    background-color: orange;
    background-blend-mode: multiply;
    border-radius: 5px;
    box-shadow: 0px 5px 10px black;

}

.textinfo {
    /* background-color: orange; */
    width: 90%;
    height: 75%;
    display: flex;
    flex-flow: column nowrap;
}

.textbox {
    width: 100%;
    height: fit-content;
    margin-top: auto;
    margin-bottom: 0;
}
.title {
    font-size: 2.1rem;
    font-family: "GMarket Bold";
    font-weight: lighter;
    /* margin-bottom: 0.714rem; */
    margin-bottom: 0.595vw;
}

.summary {
    font-size: 1rem;
    margin-bottom: 5px;
}

.testingImg {
    width: 100%;
    height: auto;
    margin-bottom: 285px;
    z-index: -1;
}





.filterWrapper {
    /* background-color: blanchedalmond; */
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}









.movie_container {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.movie_wrap {
    display: grid;
    grid-column-gap: 1.607vw;
    grid-row-gap: 2vw;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    /* flex-flow: row wrap; */
    /* width: calc(100vw - 166px); */
    width: 90vw;
    height: fit-content;
    /* background-color: orange; */
    justify-content: space-between;
}

@media (min-width: 1920px) {
    .movie_wrap {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1350px) {
    .movie_wrap {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 975px) {
    .movie_wrap {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 414px) {
    .ContentAd {
        height: calc(100vw / 16 * 9 - 5.71428571rem * 2 + 38.5px);
        /* height: 2000px; */
    }

    .movie_wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 375px) {
    .ContentAd {
        height: calc(100vw / 16 * 9 - 50px * 2 + 38.5px);
        margin-top: 50px;
    }
}



.textinfo {
    color: white;
    text-shadow: 0px 5px 20px black;
}






.footer {
    margin-top: 5rem;
    width: 100vw;
    height: 21rem;
    background-color: black;
}

/* body::-webkit-scrollbar {
    display: none;
}

body {
    scrollbar-width: 0px;
} */

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}