.weeklyPickPage {
    display: flex;
    background-image: url(../img/backgroundTexture.jpeg);
    background-attachment: fixed;
    height: fit-content;
    flex-flow: column nowrap;
    width: 100vw;
    justify-content: center;
    padding-bottom: 100px;
}

.intro {
    /* top: 10rem; */
    font-size: 4rem;
    /* background: wheat; */
    width: 100%;
    height: fit-content;
    margin-top: 7rem;
    margin-bottom: 3rem;
    text-align: center;
}

.weeklyMovies {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}








.line {
    display: flex;
    justify-content: center;
}

.widthLine {
    width: 1100px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    position: relative;
    top: 180px;
}

.heightLine {
    width: 1px;
    height: 2100px;
    border-width: 1.8px;
    border-style: solid;
    border-color: gray;
    background-color: gray;
    /* position: absolute; */
    top: 250px;
}