.closeBtn {
    width: 30px;
    height: 30px;
    color: white;
    font-size: 15px;
    border: white solid 1px;
    font-weight: 900;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeBtn img {
    width: 50%;
    height: auto;

    pointer-events: none;
}

.closeBtn:hover {
    transform: scale(1.2);
}

.closeBtn::selection, .closeBtn img::selection {
    background: transparent;
}