.brandLogo {
    width: auto;
    height: 43px;
    pointer-events: none;
}
.header {
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "GMarket Normal";
}

.container {
    width: calc(100vw - 210px);
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: orange; */
}

.menu {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.links {
    color: black;
}

#linkOne {
    font-weight: lighter;
}

#linkTwo {
    font-weight: lighter;
}

#linkThree {
    font-family: "GMarket Bold";
    font-weight: lighter;
}

.links::selection, .brandLogo::selection {
    background: transparent;
}

.linker {
    margin-left: 29px;
}

.searchWrap {
    margin-right: 0;
    margin-left: auto;
}

.searchBar {
    border: #7F7F7F solid 2px;
    /* border: black solid 2px; */
    border-radius: calc(133px / 2);
    width: 133px;
    height: 23px;
    padding-left: 10px;
    background: transparent;
}

.searchBar::placeholder {
    color: #7F7F7F;
    /* color: black; */
}

input:focus {
    outline: none;
}
