.brandLogo {
    width: auto;
    height: 3rem;
    /* height: 2.560vw; */
    pointer-events: none;
}
.header {
    position: fixed;
    top: 0;
    width: 100vw;
    /* height: 4.762vw; */
    height: 5.71428571rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "GMarket Normal";
    z-index: 98;
    /* font-size: 0.833vw; */
}

.container {
    /* width: calc(100vw - 210px); */
    width: 88vw;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: orange; */
}

.menu {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.links {
    color: black;
    font-size: 1rem;
}

#linkOne {
    font-weight: lighter;
}

#linkTwo {
    font-weight: lighter;
}

#linkThree {
    font-family: "GMarket Bold";
    font-weight: lighter;
}

.links::selection, .brandLogo::selection {
    background: transparent;
}

.linker {
    margin-left: 2rem;
    width: fit-content;
    height: fit-content;
    /* margin-left: 1.726vw; */
}

.searchWrap {
    margin-right: 0;
    margin-left: auto;
}

.searchBar {
    border: #7F7F7F solid 0.142rem;
    /* border: black solid 2px; */
    border-radius: calc(133px / 2);
    width: 9.5rem;
    /* width: 7.917vw; */
    height: 1.55rem;
    /* height: 1.369vw; */
    padding-left: 0.714rem;
    background: transparent;
    /* font-size: 0.833vw; */
    line-height: 1.55rem;
    font-size: 1rem;
}

.searchBar::placeholder {
    color: #7F7F7F;
    font-size: 1rem;
    /* color: black; */
}

input:focus {
    outline: none;
}

@media (max-width: 375px) {
    .header {
        height: 50px;
    }
}
