.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    justify-content: center;
    z-index: 50;
    overflow-y: scroll;
    top: 0;
}

.filter {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;

    padding: 40vw;
    top: -20vw;
    left: -20vw;
    /* background-color: orange; */
}

/* .filterComp {
    width: 130%;
    height: 130%;
    background-color: black;
    opacity: 0.7;
} */

.hoverWrap {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    /* background: rgba(0, 0, 0, 0.7); */
    z-index: 40;
}

.hoverpage {
    width: 810px;
    height: fit-content;
    background-color: rgb(26, 26, 26);
    z-index: 60;
    margin-top: 80px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;

    box-shadow: 0px 5px 30px black;
}

.infoWrap {
    width: 100%;
    height: 100%;
}

.videoPlayer {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 20px black;
    background-size: cover;

}

.videoPlayer img {
    /* width: auto; */
    height: 120%;

    pointer-events: none;
}

.infoBox {
    width: calc(100% - 4vw);
    height: fit-content;
    /* margin: 1.190vw; */
    padding: 2vw;
    display: flex;
    flex-flow: row nowrap;
}

.coverImgWrap {
    width: 200px;
    /* width: 11.905vw; */
    height: 300px;
    /* height: 17.857vw; */
    overflow: hidden;
    border-radius: 5px;
    /* box-shadow: 5px 7px 10px black; */
    box-shadow: 0px 7px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverImgWrap img {
    width: auto;
    height: 100%;

    pointer-events: none;
}

.info {
    width: calc(100% - 11.905vw);
    margin-left: 1vw;
}

.buttons_title, .title, .summary, .genres {
    margin-bottom: 0.714rem;
    color: white;
}

.buttons_title {
    cursor: default;
}

.title ,.buttons_title {
    font-size: 1.5rem;
    font-family: "GMarket Bold";
}

/* .title {
    font-family: "SF Pro";
    font-weight: bold;
} */

.buttons {
    width: 90%;
    height: 80%;
    /* margin: 10% 5%; */
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: flex-end;
    /* align-items: baseline; */
    z-index: 30;
}

.xbutton {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.buttonsAlignment {
    display: flex;
    flex-flow: column nowrap;
}

.playAndRuntime {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.runtime {
    z-index: 40;
    color: white;
    font-size: 1rem;
    margin-left: 1rem;

    cursor: default;
}

.minutes {
    font-size: 0.85rem;
    margin-left: 3px;

    cursor: default;
}

.runtime::selection, .minutes::selection, .title::selection, .buttons_title::selection {
    background: transparent;
}

@media (max-width: 900px) {
    .hoverpage {
        width: 90vw;
    }

    .videoPlayer {
        height: calc(80vw / 16 * 9);
    }

    .coverImgWrap {
        width: 22.222vw;
        height: 33.333vw;
    }
}