.movie_wrap {
    width: 100%;
    height: fit-content;
}

.text_box {
    width: 100%;
    height: fit-content;
    margin-bottom: 3.167vw;
    z-index: 3;
}

.title {
    margin-top: 0.557vw;
    font-size: 1.071vw;
    font-family: "GMarket Bold";
}

.summary {
    margin-top: 0.595vw;
    font-size: 0.833vw;
    width: 100%;
    word-break: break-all;
}

.img_wrapper {
    width: 100%;
    height: calc(21.548vw / 16 * 9);
    background-color: black;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    z-index: 1;
}

.img_wrapper img {
    width: 140%;
    height: auto;
}

@media (min-width: 1920px) {
    .img_wrapper {
        height: calc(16.715vw / 16 * 9);
    }
}
@media (max-width: 975px) {
    .img_wrapper {
        height: calc(28.929vw / 16 * 9);
    }
}
@media (max-width: 414px) {
    .img_wrapper {
        height: calc(44.196vw / 16 * 9);
    }
}

.coverImg {
    height: 100%;
    width: auto;
}

.functionElement {
    width: fit-content;
    height: fit-content;
}