.bgImg {
    position: fixed;
    overflow: scroll;
    height: 1048px;
}

.bgImg1, .bgImg2, .bgImg3, .bgImg4, .bgImg5 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

/* .bgImg2, .bgImg3, .bgImg4, .bgImg5 {
    opacity: 0;
} */

.bgImg1 {
    z-index: 10;
}

.bgImg2 {
    z-index: 9;
}

.bgImg3 {
    z-index: 8;
}

.bgImg4 {
    z-index: 7;
}

.bgImg5 {
    z-index: 6;
}

.bgB {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 40%;
}

.movie1Data {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 1048px;
}

.movieContent {
    margin-top: 17rem;
    margin-left: 26rem;
    color: white;
    display: flex;
    align-items: center;
}

.movieContentText {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    width: 500px;
}

.movieTitle {
    font-size: 25px;
}

.movieRating, .movieRuntime {
    margin-top: 2rem;
    font-size: 20px;
}

.movie2Data {
    position: absolute;
    top: 58.7rem;
    width: 100vw;
    height: 821px;
}

.movie3Data {
    position: absolute;
    top: 117.3rem;
    width: 100vw;
    height: 821px;
}

.movie4Data {
    position: absolute;
    top: 175.9rem;
    width: 100vw;
    height: 821px;
}

.movie5Data {
    position: absolute;
    top: 234.6rem;
    width: 100vw;
    height: 821px;
}


