.playBtn {
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 1rem;
    border: white solid 1px;
    font-weight: 900;
    border-radius: 0.714rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.714rem 1.071rem;

    cursor: default;
}

.arrowItem {
    width: 0.714rem;
    /* width: 10px; */
    height: auto;
    margin-right: 5px;

    pointer-events: none;
}

.playBtn div::selection, .arrowItem::selection {
    background: transparent;
}

@media (max-width: 414px) {
    .playBtn {
        width: 57px;
        height: 27px;
        padding: 0;
        font-size: 11px;
    }

    .arrowItem {
        width: 7px;
        height: 9px;
    }
}