.left {
    position: absolute;
    left: 225px;
    width: 430px;
}

img {
    width: 430px;
    height: 250px;
}

.weeklyMovie1 {
    position: absolute;
    top: 215px;
}

.weeklyMovie1Title {
    width: 125px;
    font-size: 20px;
    margin-top: 30px;
}

.weeklyMovie1Intro {
    line-height: 25px;
    text-align: justify;
    margin-top: 20px;
}

.weeklyWatch {
    position: absolute;
    top: 1230px;
}

.weeklyWatchTitle {
    width: 400px;
    font-size: 35px;
    font-weight: 700;
}

.weeklyWatchContent {
    margin-top: 20px;
    line-height: 25px;
    text-align: justify;
}

.right {
    position: absolute;
    width: 430px;
    left: 795px;
}

.text {
    position: absolute;
    top: 210px;
    line-height: 25px;
    text-align: justify;
}

.weeklyPost {
    position: absolute;
    top: 835px;
}

.weeklyPostTitle {
    font-size: 35px;
    font-weight: 700;
}

.weeklyPostContent {
    margin-top: 25px;
}

.weeklyMovie2Title {
    width: 125px;
    margin-top: 25px;
    font-size: 20px;
}

.weeklyMovie2Intro {
    line-height: 25px;
    margin-top: 20px;
    text-align: justify;
}

@media (min-width: 2560px){
    img {
        width: 800px;
        height: 450px;
    }

    .left {
        left: 390px;
    }

    .weeklyMovie1 {
        top: 310px;
    }

    .weeklyMovie1Title {
        width: 300px;
        font-size: 40px;
    }

    .weeklyMovie1Intro {
        font-size: 20px;
        line-height: 30px;
    }

    .weeklyWatch {
        top: 1500px;
    }

    .weeklyWatchTitle {
        width: 800px;
        font-size: 55px;
    }

    .weeklyWatchContent {
        font-size: 20px;
        line-height: 30px;
    }

    .right {
        left: 1390px;
    }

    .text {
        top: 304px;
        font-size: 20px;
        line-height: 30px;
        width: 800px;
    }

    .weeklyPost {
        position: absolute;
        top: 885px;
    }

    .weeklyPostTitle {
        font-size: 55px;
    }

    .weeklyMovie2Title {
        font-size: 40px;
    }

    .weeklyMovie2Intro {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width:1024px) {
    img {
        width: 390px;
        height: 230px;
    }

    .left {
        left: 87px;
    }

    .weeklyMovie1Title {
        width: 500px;
        font-size: 35px;
    }

    .weeklyMovie1Intro {
        font-size: 18px;
        line-height: 30px;
        width: 385px;
    }

    .weeklyWatch {
        top: 1700px;
        width: 385px;
    }

    .weeklyWatchTitle {
        font-size: 35px;
    }

    .weeklyWatchContent {
        font-size: 18px;
        line-height: 30px;
    }

    .right {
        left: 200px;
    }
}