.container {
    display: flex;
    justify-content: center;
    height: fit-content;
    /* margin-top: 80px; */
}

.box {
    display: flex;
    flex-flow: row nowrap;
    /* width: 70vw; */
    width: 1176px;
    height: fit-content;
}

.left {
    width: 50vw;
    border-right: 1px solid grey;
    border-top: 2px solid grey;
    padding-right: 4vw;
    padding-left: 2vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.right {
    width: 50vw;
    border-left: 1px solid grey;
    border-top: 2px solid grey;
    padding-left: 4vw;
    padding-right: 2vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.weeklyMovie {
    margin-bottom: 6rem;
}

.weeklyMovieImg {
    /* position: absolute; */
    /* top: 220px; */
    width: 100%;
    /* height: auto; */
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    box-shadow: 0px 5px 10px grey;
    border-radius: 5px;
}

.weeklyMovieImg img {
    width: 100%;
    height: auto;
}

.weeklyMovieTitle {
    /* position: absolute; */
    /* top: 500px; */
    font-size: 1.5rem;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
}

.weeklyContent, .text {
    /* position: absolute; */
    /* top: 545px; */
    line-height: 1.5rem;
    text-align: justify;
}

.weeklyPWTitle {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.3rem;
}

.weeklyWatchContent {
    margin-top: 1.8rem;
    line-height: 25px;
}

.text {
    /* position: absolute; */
    margin-bottom: 6rem;
}

.weeklyPostContent {
    margin-top: 1.8rem;
}

@media (max-width: 1220px) {
    .box {
        width: 90vw;
    }
    .weeklyMovieImg {
        height: calc(36.705vw / 16 * 9);
    }
}

@media (max-width: 414px) {
    .box {
        flex-flow: column nowrap;
    }

    .left, .right {
        border: none;
        padding: 0;
        width: 100%;
    }

    .weeklyMovieImg {
        height: calc(84vw / 16 * 9);
    }

    .weeklyPWTitle {
        font-size: 20px;
    }

    .weeklyContent, .text {
        font-size: 14px;
        line-height: 17px;
    }

    .weeklyMovieTitle {
        font-size: 25px;
    }
}