@font-face {
  font-family: "GMarket Light";
  src: url("./fonts/GmarketSansTTFLight.ttf") format('truetype');
  /* font-weight: normal; */
}

@font-face {
  font-family: "GMarket Normal";
  src: url("./fonts/GmarketSansTTFMedium.ttf") format('truetype');
}

@font-face {
  font-family: "GMarket Bold";
  src: url("./fonts/GmarketSansTTFBold.ttf") format('truetype');
  /* font-weight: bold; */
}

body {
  margin: 0;
  font-family: "GMarket Light";
  font-size: 14px;
}